* {
    margin: 0;
    padding: 0;
    font-family: NeueMontreal-Medium, sans-serif;
    font-weight: 100;
}

body {
    height: 100%;
    width: 100%;
}

#main{
    overflow: hidden;
}

*::selection {
    color: white;
    background-color: black;
}

body::-webkit-scrollbar{
    width: 5px;
    border: none;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: black;
    border-radius: 5px;
}


#nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    border-bottom: 1px solid black;
    background-color: #fff;
    width: 97%;
    position: absolute;
    z-index: 99;
}

#nav .left {
    display: flex;
    gap: 30px;
    white-space: nowrap;
    align-items: center;
}

#nav .left img {
    height: 82%;
}

#nav .left h3 {
    font-size: 16px;
    position: relative;
    cursor: pointer;
}


#nav .right {
    display: flex;
    gap: 30px;
    white-space: nowrap;
    align-items: center;
}

#nav .right h3 {
    font-size: 16px;
}


.hero {
    display: block;
    position: relative;
}



.bg video {
    width: 100%;
}

.heading {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.heading h4 {
    font-size: 1.5rem;
}

.heading h3 {
    font-size: 3rem;
    margin-top: 5vh;
}



.second h1 {
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
}

.shirts {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin: 20px 20px;

}

.shirts .box {
    height: 500px;
    width: 325px;
}

.toggle {
    display: none;
}


.box img {
    width: 100%;
}

.box h4 {
    margin: 7px 0;
}

.third {
    width: 100%;
}


.third1 {
    display: flex;
    gap: 5px;
    height: 90vh;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img1 {
    width: 40%;
    background: url("./images/chdahover.jpg") no-repeat;
    background-size: cover;
}

.imgh1 {
    color: white;
    margin: 20px 0px;
}

.btn {
    color: black;
    background-color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 2px;
    transition: all linear 0.2s;
}

.img1:hover .btn {
    color: white;
    background-color: black;
}

.img2:hover .btn {
    color: white;
    background-color: black;
}

.img2 {
    width: 60%;
    background: url('./images/green.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.third2 {
    width: 100%;
    height: 100vh;
    background: url("./images/last.jpg");
    background-position: top;
    background-size: cover;
}

.third2:hover .btn {
    color: white;
    background-color: black;
}

.fifth {
    display: flex;
    width: 100%;
    margin: 30px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.fifth .container{
    padding: 30px 20px;
    width: 300px;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container img{
    height: 60px;
    margin-bottom: 20px;
}


.footer{
    display: flex;
    justify-content: space-between;
    height: 50vh;
}


.footerleft{
    display: flex;
    gap: 50px;
    margin: 0px 20px;
}

.context{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.context h4{
    color: rgba(0, 0, 0, 0.562);
    cursor: pointer;
    position: relative;
    width: fit-content;
}

.footerright{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 27%;
}
.footerright p{
    color: rgba(0, 0, 0, 0.548);
}

.footbtn{
    color: white;
    background-color: black;
    width: 40%;
}
.footbtn:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.copyright{
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

.copyright h5{
    color: rgba(0, 0, 0, 0.616);
}

.fourth{
    position: relative;
    height: 350px;
}

.fourth .img-scroll{
    position: absolute;
    display: flex;
    gap: 150px;
    margin: 30px 0px;
    animation: going 25s linear infinite;
}

.fourth .logo-scroll{
    position: absolute;
    top: 150px;
    z-index: -1;
    animation: going2 25s linear infinite;
    display: flex;
    gap: 250px;
}

.fourth img{
    height: 300px;
}


@keyframes going {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes going2 {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
#nav h3{
    position: relative;
    cursor: pointer;
}


#nav h3::after{
    content: "";
    position: absolute;
    top:6px;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: rgba(94, 161, 248, 0.63);
    transition: all linear 0.3s;
}
.context h4::after{
    content: "";
    position: absolute;
    top:6px;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: rgba(94, 161, 248, 0.63);
    transition: all linear 0.3s;
}

#nav h3:hover::after{
    width: 100%;
}
.context h4:hover::after{
    width: 100%;
}



@media screen and (max-width:800px) {
    #nav{
        position: static;
        margin: 0px;
        width: 90%;
    }
    #nav h3{
        display: none;
    }
    #nav .left{
        width: 55%;
        justify-content: space-between;
    }

    /* .heading {
        left: 50%;
        top: 20%;
    } */

    .heading h3{
        font-size: 1rem;
        margin-top: 1vh;
        font-weight: 400;
    }
    .heading h4{
        font-size: 0.5rem;
        font-weight: 400;
    }

    .shirts .box {
        height: fit-content;
        width: 100px;
    }

    .third1{
        height: 30vh;
    }
    .third2{
        height: 30vh;
    }

    .btn{
        padding: 10px 10px;
        font-size: 10px;
    }

    .img h1{
        font-size: 20px;
        font-weight: 400;
        margin: 5px 0px;
    }


    .fifth {
        flex-direction: column;
    }
    
    .fifth .container{
        padding: 10px 20px;
        width: 300px;
        flex-direction: row;
        gap: 10px;
        justify-content: start;
        border-bottom: 1px solid black;
    }
    
    .container img{
        height: 30px;
        margin-bottom: 10px;
    }

    .container h4{
        font-size: 9px;
    }

    .fourth img{
        height: 100px;
    }

    .fourth h1{
        font-size: 20px;
    }

    .fourth .logo-scroll{
        top: 65px;
    }

    .fourth{
        height: 130px;
    }

    .footer{
        flex-direction: column-reverse;
        height: 100vh;
        margin: 0px 10px;
        justify-content: space-evenly;
    }
    
    .footerleft{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        
    }

    
    .footerright{
        width: 100%;
        text-align: center;
    }

    .footbtn{
        width: 100%;
    }
    
    .third1 {
        flex-direction: column;
        height: 100vh;
    }

    .third1 .img{
        width: 100%;
        height: 60vh;
        margin: 5px 10px;
    }
    .third2{
        width: 100vw;
        height: 60vh;
        margin: 5px 10px;
    }
}